module <%= plugin_module_name %>

  class Processor

    include Climatic::Script::UnimplementedProcessor
    include Climatic::Proxy
    include PowerStencil::Project::Proxy


    def execute
      puts '<%= main_entry_point.upcase %> PLUGIN WAZ HERE'
      puts_and_logs config[].to_yaml
    end


  end


end