require '<%= plugin_name %>/version'
require '<%= plugin_name %>/plugin_helper'
require '<%= plugin_name %>/<%= plugin_name %>_processor'

module <%= plugin_module_name %>

  extend PowerStencil::Utils::SecureRequire
  extend <%= plugin_module_name %>::PluginHelper

  REQUIRED_PLUGINS = []

  def self.setup_processors
    clm = PowerStencil.command_line_manager
    clm.register_processor clm.command_by_alias('<%= main_entry_point %>'), <%= plugin_module_name %>::Processor.new
  end

  def self.setup_entity_definitions
    PowerStencil.logger.info 'Setting up <%= main_entry_point %> plugin entities'
    securely_require '<%= plugin_name %>/entity_definitions/<%= plugin_name %>_entity', fail_on_error: true
  end

  def self.setup_plugin_templates
    Dir.entries(plugin_templates_path).reject { |e| %w(. ..).include? e }.each do |entry|
      template_path = File.join(plugin_templates_path, entry)
      if Dir.exist? template_path
        PowerStencil.project.register_template_path_for_type entry.to_sym, template_path
      end
    end
  end

end

# All plugins have to be in the PowerStencil::Plugin namespace !
PowerStencil::Plugin::<%= plugin_module_name %> = <%= plugin_module_name %>
